.img{
    width: 40%;
    height: 40%;
    animation:  rotate 7s infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: backwards;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.btnsub{
    padding: 2rem;
}
